.fa-user-graduate, .fa-briefcase{
    padding: 5px;
    border-radius: 50%;
    background-color: #6930C3;
    font-size: 12px;
    color: white;
}
.date{
    font-size: 14px;
}
.fa-envelope-open, .fa-linkedin, .fa-phone, h5{
    color: #6930C3;
}

.cv-title{
color: white;
background-color: #6930C3;
}

.fa-dot-circle {
    color: #6930C3;
    margin-right: 12px;
  }

  .left, .info{
      background-color: #6930C3;
      color: white;
  }

.quote{
    font-size: 28px;
}
.name , h6{
    color: #6930C3;
}

.work{
    margin-top: 2cm;
}
